*{
    margin: 0;
    padding: 0;
}

#logo img{
    margin:0 0 0 10px;
    padding: 0px;
    height: 40px;
}
h2{
    font-size: 35;
}
/* light box-----------------------------------------------------------------*/
.lBox {
    visibility: hidden;
    opacity: 0;
    display: none;
}
.lBox:target{
    opacity: 1;
    visibility: visible;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    background: rgba(10,10,10,0.7);
    display:block;
    position: fixed;
    
}
.boxImg{
    height: 100px;
    width:100vh !important;
    margin: 90px auto;
}

.btnl{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
#prev{
    left: 5%;
    top: 45%;
}
#next{
    right: 5%;
    top: 45%;
}
#close{
    top: 10%;
    right: 2%;
}
.boxImg img{
    opacity: 0;
}
.lBox:target .boxImg img{
    opacity: 1;    
    transition: 4s linear;
}
/* menu ---------------------------------------------------------------------------------*/
nav.navbar-dark {
    background: rgba(80, 80, 80, 0.98);
    border: none;
    padding: 10px;
    padding-left: auto;
    padding-right: auto;
    font-size: 15px;
}

nav ul li a{
    position: relative; 
    display: flex;
    margin: 0px;
    width: auto;
    height: 100%;
    border-radius: 5px;    
    color:rgb(255, 255, 255) !important;
}
nav ul li a:hover{
    background-color: rgba(101, 41, 136, 0.596);
}
nav ul li a img{
    color: white;
    width: 25px;
}
/* conteudo home-------------------------------------------------------------------------------*/
.conteudo{
    background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0,0,0,0.7)), url(/img/4884841.jpg);

    background-size: 100%;
    height: 100%;
    width: 100%;

}

.conteudoEsqueda{
    color: white;
    width: 100%;
    padding-top:80px;
    text-align: center;
    font-size: 18px;    
    margin-top:50px;
    height:100vh;
}
.conteudoDireita{
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    border: #F5A171 2px solid;
    border-radius: 10px;
    margin-top:100px;
    padding: 10px;
    width: 100%;
    height:100%;
}
/* saiba mais-------------------------------------------------------------------------------*/
.saibaMais{
    color: white;
    margin: 0;    
    padding: 25px;
    background-color: black;
    text-align: center;
}
.saibaMais a{
    text-align: center;
    height: 50px;
    width: auto;
    margin: 30px;
    background-color: rgba(111, 49, 192, 0.808);
}
/* sobre a empressa-------------------------------------------------------------------------------*/


.sobre{
    padding: 90px 0 25px 0;
}
.sobre img{
    height: 350px;
    width: 100%;
}
/* galeria-------------------------------------------------------------------------------*/
.galeria{    
    padding: 90px 25px 25px 25px;
    background-color: black;
    text-align: center;
    color: white !important;
}

.galeria img{
    border-radius: 5px;  
    border:rgb(104, 104, 104) solid 2px;
    margin:5px;
    box-shadow: 5px 3px 10px rgb(53, 53, 53);
    height: 100%;
    width: 100%;    
}
.galeria img:hover{    
    box-shadow: 5px 3px 10px rgb(71, 71, 71);
    border:0;
}
/* noticias-------------------------------------------------------------------------------*/
.noticia{
    padding: 80px 25px 25px 25px;
    color: black;
    text-align: center;
}

.noticia img{
    height: 200px;
    width:auto;
}
/* contatos-------------------------------------------------------------------------------*/
textarea {
    resize: none;
    height: 100%;
    width: 100%;
    margin-top: 10px;
}
.contato{
    padding: 80px 25px 25px 25px;
    background-image: url("../img/5039684.jpg");
    background-size: 100%;
    height:100%;
    width: 100%;    
}
.contato form{
    padding: 3px;
    margin-top: 10px;
}

.contato form input{
    margin-top: 10px;
}
.canais{
    color: rgb(248, 248, 248) !important;    
    background-color: rgba(111, 49, 192, 0.808);
    padding: 15px;
    border-radius: 5px;
}
.card-link {
    text-decoration: none;
    color: black;
}
.card-link:hover{
    color: rgb(78, 78, 78);
}
.card-body {
    color: black;
}
.canaisCont{
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: center;
}

.canaisCont p{
    font-size: 12px;
    height: 100%;
    width: 100%;
}
.canaisCont img{
    height: 50px;
    width: 50px;
}
/*footer----------------------------------------*/
.footer{
    text-align: center;
    background-color: black;
    color: white;
}